{% extends 'core/layout.html' %}

{% block content %}
    <br>
    <main>
        {% load static %}
        <div class="container">
            <div class=" col-mb-12" style="max-width: 1000px; height: 700px;">
                <div class="row">
                    <div class="col-md-8">
                        <img src="{% static 'img/Luis1.webp' %}" class="img-fluid rounded-start" width="500px" height="600px">
                        <h3 class="textocon">¡Presiona el icono de la red social de Luis!</h3><br>
                        <a href="#"><img src="{% static 'img/logo instagram.svg' %}" width="150px" height="150px" /></a>
                        <a href="#"><img src="{% static 'img/logo twitter.png' %}" width="150px" height="150px" /></a>
                    </div>
                    <div class="col-md-1">
                        <div class="card-body float-end">
                            <h2 class="textocon">Contacto de Luis</h2><hr class="color">
                            <p class="textocon">Especializado:Pintura</p>
                            <p class="textocon">Atenciones realizadas:27</p>
                            <p class="textocon">Movil:+56912925831</p>
                            <a href="#"><p class="card-text">luistmak@gmail.com</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-mb-12" style="max-width: 1000px; height: 700px;">
                <div class="row">
                    <div class="col-md-8">
                        <img src="{% static 'img/Francisco.jpg' %}" class="img-fluid rounded-start" width="500px" height="600px">
                        <h3 class="textocon">¡Presiona el icono de la red social de Franco!</h3><br>
                        <a href="#"><img src="{% static 'img/logo instagram.svg' %}" width="150px" height="150px" /></a>
                        <a href="#"><img src="{% static 'img/logo twitter.png' %}" width="150px" height="150px" /></a>
                    </div>
                    <div class="col-md-1">
                        <div class="card-body float-end">
                            <h2 class="textocon">Contacto de Franco</h2><hr class="color">
                            <p class="textocon">Especializado:Mecanico Electrico</p>
                            <p class="textocon">Atenciones realizadas:43</p>
                            <p class="textocon">Movil:+56988203649</p>
                            <a href="#"><p class="card-text">francotmak@gmail.com</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-mb-12" style="max-width: 1000px; height: 700px;">
                <div class="row">
                    <div class="col-md-8">
                        <img src="{% static 'img/matias.jpg' %}" class="img-fluid rounded-start" width="500px" height="600px">
                        <h3 class="textocon">¡Presiona el icono de la red social de Matias!</h3><br>
                        <a href="#"><img src="{% static 'img/logo instagram.svg' %}" width="150px" height="150px" /></a>
                        <a href="#"><img src="{% static 'img/logo twitter.png' %}" width="150px" height="150px" /></a>
                    </div>
                    <div class="col-md-1">
                        <div class="card-body float-end">
                            <h2 class="textocon">Contacto de Matias</h2><hr class="color">
                            <p class="textocon">Especializado:Mecanico automotriz</p>
                            <p class="textocon">Atenciones realizadas:55</p>
                            <p class="textocon">Movil:+56982568174</p>
                            <a href="#"><p class="card-text">matiastmak@gmail.com</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer>
        <div class="container">
            <hr class="color">
            <a href="contactanos.html">
                <p>
                    Contáctanos
                </p>
            </a>
        </div>
    </footer>

{% endblock %}